html, body {
  background: url(cinnamon3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#two, #three, #four {
  display: none;
}

a:hover {
  text-decoration: none;
}

#recipeText {
  padding: 35px;
  margin-top: 25%;
  background-color: black;
  opacity: 0.8;
}

.center {
  text-align: center;
}